 <footer id="sticky-footer" class=" mt-auto flex-shrink-0 py-3 bg-dark text-white-50 ">
    <div  class="container-fluid demo-bg  ">

<div class="row align-items-center">
<div class="col-lg-4">
<div class="business-hours">
<h2 class="title">Horaires d'ouverture</h2>
<ul class="list-unstyled opening-hours">
{% for day in days %}
  <li>{{day.dayFr}} 
  {% if day.isClosedAm == true %}
    <span class="pull-right"> Fermée  | {{day.openPm | date('H-i')}} {{day.closePm | date('H-i')}} </span></li>
    {% elseif day.isClosedPm == true %}
    <span class="pull-right">{{day.openAm | date('H-i') }} {{day.closeAm | date('H-i')}}  | Fermée </span></li>
    {% else %}
    <span class="pull-right">{{day.openAm | date('H-i') }} {{day.closeAm | date('H-i')}}  | {{day.openPm | date('H-i')}} {{day.closePm | date('H-i')}} </span></li>
  {% endif %}
  
  
{% endfor %}

</ul>
</div>
</div>
<div class="col-lg-3 text-dark my-4"> <div class="d-flex flex-column"><span>Le Quai Antique, 7 place d'ici, 69000 Lyon</span> <span>Tel : 00 00 00 00 00</span></div> </div>
<div class="col-lg-3 text-dark my-2">
  <div>Tout droit réservé ©2023 Thibault Rossa
  </div> 
  <div>
  <a href="{{ path('app_legals_mentions') }}">Mentions Légal</a> 
  <a href="{{ path('app_legals_privacy') }}"> Politique de confidentialité</a> 
  </div>
  </div>
  <div class="col-lg-2 text-dark my-2">
  <a href="{{path('app_reservations_crud_new')}}" class="btn btn-primary my-auto">Reservez</a>
  <a href="#nav" class="btn btn-secondary mx-3"><i class="fa-solid fa-arrow-up"></i></a>
  </div>
</div>
</div>
    
  </footer>