 <footer id="sticky-footer" class=" mt-auto flex-shrink-0 py-3 bg-dark text-white-50 ">
    <div  class="container-fluid demo-bg  ">

<div class="row align-items-center">
<div class="col-lg-4 text-dark my-2"> ©2023 Thibault Rossa</div>
<div class="col-lg-4 text-dark my-4"> <div class="d-flex flex-column"><span>Le Quai Antique, 7 place d'ici, 69000 Lyon</span> <span>Tel : 00 00 00 00 00</span></div> </div>
<div class="col-lg-4">
<div class="business-hours">
<h2 class="title">Horaires d'ouverture</h2>
<ul class="list-unstyled opening-hours">
{% for day in days %}
  <li>{{day.day}} <span class="pull-right">{{day.openAm | date('H-i') }} {{day.closeAm | date('H-i')}}  | {{day.openPm | date('H-i')}} {{day.closePm | date('H-i')}} </span></li>
{% endfor %}

</ul>
</div>
</div>
</div>
</div>
    
  </footer>