<nav id="nav" class="navbar navbar-expand-lg bg-body-tertiary ff-secondary">
  <div class="container-fluid">
    <a class="navbar-brand logo mx-md-5" href="{{path('app_home')}}">Le Quai Antique</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  " id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_home')}}">Accueil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            La carte
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{path('app_dishes')}}">Nos plats</a>
            <li><a class="dropdown-item" href="{{path('app_menus')}}">Nos Menus</a></li>
          </ul>
        </li>
      </ul> 
    </div>
    <div class="d-flex gap-2 d-md-flex  justify-content-md-end mx-auto ">
     <a href="{{path('app_reservations_crud_new')}}" class="btn btn-primary my-auto mx-5">Reservez</a>
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
  {% if is_granted('ROLE_ADMIN') %}
          <li class="nav-item">
             <a class="nav-link" href="{{ path('admin') }}">Gestions</a>
           </li>
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path('app_logout')}}">Déconnexion</a>
        </li>
        {% elseif is_granted('ROLE_USER') %}
<li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path('app_account_index', {'id': app.user.id })}}">Mon Compte</a>
        </li>
            <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path('app_logout')}}">Déconnexion</a>
        </li>           

    
        {% else %}
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path('app_login')}}">Connexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path('app_register')}}">S'inscrire</a>
        </li>
  {% endif %}
  
       
        
   </ul>
    </div>
  </div>
</nav>