{% extends 'base.html.twig' %}

{% block title %}Quai Antique | Gestion du compte{% endblock %}

{% block body %}
    <div class="container">
    <div class="row">
    <div class="col">
    <h1>Gestion du compte</h1>
    
    {{form_start(userEditForm)}}
{{form_row(userEditForm.lastname)}}
{{form_row(userEditForm.firstname)}}
    {{form_row(userEditForm.email)}}
{{form_row(userEditForm.nb_of_persons)}}
    {{form_row(userEditForm.allergies)}}
    
<button type="submit" class="btn btn-primary">Modifier</button>
    
{{form_end(userEditForm)}}

   
    
    
    
    </div>
    </div>
    </div>

{% endblock %}