{% extends 'base.html.twig' %}

{% block title %}Quai Antique | Mon Compte{% endblock %}

{% block body %}
<div class="d-flex flex-column  flex-grow-1 my-5">
  <div>
    <h1 class="text-white mb-5 mx-md-5 mx-auto ">Mon Compte</h1>
      <div class="bg-dark p-3 mx-3 my-auto ">
      <div class="row ">
      <div class="col-5">
        <h2>Informations personnelles</h2>
          <p>Nom : {{ user.lastname }}</p>
          <p>Prénom : {{ user.firstname }}</p>
          <p>Email : {{ user.email }}</p>
        <h3>Informations complémentaire</h3>
          <p>Nombres de personne : {% if user.nbOfPersons == null %} Information non renseignée 
                                    {% else %}
                                    {{user.nbOfPersons}}
                                    {% endif %}</p>
          <p>Allergies : {% if user.nbOfPersons == null %} Information non renseignée
                          {% else %}
                          {{user.allergies}}
                          {% endif %}</p>
   
        
          <a href="{{ path('app_account_edit', {'id': user.id}) }}" class="btn btn-primary">Modifier mes informations</a>
      </div>
       <div class="col-7">
    {% for reservation in reservations %}
      <div class="d-flex gap-5">
      <p> Date : {{ reservation.dateTime|date('d/m/Y') }}</p>
      <p> Heure : {{ reservation.dateTime|date('H:i') }}</p>
      <p> Nombre de personne : {{ reservation.nbOfPersons }}</p>
      <p> Allergies : {{ reservation.allergies }}</p> 

      <div>
      
      <a href="{{path('app_reservations_crud_edit', {'id' : reservation.id})}}" class="mx-2"><i class="fa-solid fa-pen-to-square"></i></a>
      <a href="{{path('app_reservations_crud_delete', {'id' : reservation.id})}}" class="mx-2"><i class="fa-solid fa-trash"></i></a>
      </div>

      </div>
    {% endfor %}
    
    </div>
      </div>
     </div>
    </div>
    
</div>
{% endblock %}
