{% extends 'base.html.twig' %}

{% block title %}Quai Antique | Mon Compte{% endblock %}

{% block body %}
<div class="d-flex flex-column  flex-grow-1">
  <div>
    <h1 class="text-white my-3 mx-md-5 mx-auto ">Mon Compte</h1>
      <div class="bg-dark p-3 mx-3 my-auto align-self-center">
        <h2>Informations personnelles</h2>
          <p>Nom : {{ user.lastname }}</p>
          <p>Prénom : {{ user.firstname }}</p>
          <p>Email : {{ user.email }}</p>
        <h3>Informations complémentaire</h3>
          <p>Nombres de personne : {% if user.nbOfPersons == null %} Information non renseignée 
                                    {% else %}
                                    {{user.nbOfPersons}}
                                    {% endif %}</p>
          <p>Allergies : {% if user.nbOfPersons == null %} Information non renseignée
                          {% else %}
                          {{user.allergies}}
                          {% endif %}</p>
   
        <h3>Modifier mes informations</h3>
          <a href="{{ path('app_account_edit', {'id': user.id}) }}" class="btn btn-primary">Modifier</a>
      </div>
    </div>
    <div>
    {% for reservation in reservations %}
      <div>
      <p> Date : {{ reservation.date|date('d/m/Y') }}</p>
     
      </div>
    {% endfor %}
    
    </div>
</div>
{% endblock %}
