{% extends 'base.html.twig' %}

{% block title %}Quai Antique | Modification du compte{% endblock %}

{% block body %}
    <div class="d-flex flex-column  flex-grow-1 my-5">
    
    <h1 class="text-white my-3 mx-md-5 mx-auto">Modification du compte</h1>
    <div class="bg-dark p-3 mx-3 my-auto align-self-center">
    
    {{form_start(editReservationForm)}}
    {{form_row(editReservationForm.date)}}
    {{form_row(editReservationForm.hour)}}
{{form_row(editReservationForm.lastname)}}
{{form_row(editReservationForm.firstname)}}
    {{form_row(editReservationForm.email)}}
{{form_row(editReservationForm.nbOfPersons)}}
    {{form_row(editReservationForm.allergies)}}
    {{form_row(editReservationForm.comments)}}
<button type="submit" class="btn btn-primary">Modifier</button>
    
{{form_end(editReservationForm)}}

   
    
    
    
    </div>
    
    </div>

{% endblock %}