{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="d-flex flex-column  flex-grow-1">
    {% if app.user %}
        <div class="mb-3">
            Bonjour, {{ app.user.userIdentifier }}, vous êtes connecté.  <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}
    <h1 class="text-white my-3 mx-md-5 mx-auto">Connexion</h1>
    <div class="bg-dark p-3 mx-3 my-auto align-self-center">
<form method="post" >
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    
   
    
    <label for="inputEmail" class="mb-3">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus>
    <label for="inputPassword" class="mb-3">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control mb-3" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
            <button class="btn btn-lg btn-primary m-3" type="submit">
        Sign in
    </button>
    <a href="{{path('app_forgot_password_request')}}">Réinitialiser votre mot de passe</a>
</form>
     </div>
    </div>
    

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

   
{% endblock %}
