{{ form_start(form) }}
    {{ form_row(form.dateTime) }}
    {{ form_row(form.amOrPm) }}
    {{ form_row(form.time) }}
    {% if app.user %}
        {{ form_row(form.nbOfPersons, {'value' : app.user.nbOfPersons}) }}
        {{ form_row(form.lastname, {'value' : app.user.lastname}) }}
        {{ form_row(form.firstname, {'value' : app.user.firstname}) }}
        {{ form_row(form.email, {'value' : app.user.email}) }}
        {{ form_row(form.allergies, {'value' : app.user.allergies}) }}
        {% else %}
        {{ form_row(form.nbOfPersons) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.allergies) }}
    {% endif %}
    {{ form_row(form.comments) }}
    <button class="btn btn-primary">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
