{% extends 'base.html.twig' %}

{% block title %}Reservations index{% endblock %}

{% block body %}
    <h1>Reservations index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Date</th>
                <th>Hour</th>
                <th>NbOfPersons</th>
                <th>Allergies</th>
                <th>Comments</th>
                <th>AmOrPm</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.firstname }}</td>
                <td>{{ reservation.lastname }}</td>
                <td>{{ reservation.email }}</td>
                <td>{{ reservation.date ? reservation.date|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.hour ? reservation.hour|date('H:i:s') : '' }}</td>
                <td>{{ reservation.nbOfPersons }}</td>
                <td>{{ reservation.allergies }}</td>
                <td>{{ reservation.comments }}</td>
                <td>{{ reservation.amOrPm }}</td>
                <td>
                    <a href="{{ path('app_reservations_crud_show', {'id': reservation.id}) }}">show</a>
                    <a href="{{ path('app_reservations_crud_edit', {'id': reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservations_crud_new') }}">Create new</a>
{% endblock %}
