<h1>Confirmation de votre réservation</h1>
<p>Bonjour {{reservation.lastname}} {{reservation.firstname}}</p>
<p>Votre réservation est bien confirmé pour le {{reservation.dateTime|date('d-m-Y')}} à {{reservation.dateTime|date('H:i')}} pour {{reservation.nbOfPersons}} personne(s)</p>


<p>Bonne journée !</p>