<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Le Quai Antique | {% block title %}Accueil{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Stylesheet -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">    
       {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
        {% endblock %}
       
        <!--  JavaScript -->
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
        
        
        
    </head>
    <body class="d-flex flex-column ">
        {% include "_partials/_navbar.html.twig" %}
        
        {% if app.user and app.user.isVerified == false %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div class="alert-message">Votre compte n'est pas encore vérifié. <a href="">Renvoyer le lien d'activation.</a></div>
            </div>
            
        {% endif %}
        {% include "_partials/_flash.html.twig" %}
        
        {% block body %}{% endblock %}
        
            
        
    </body>
     
 {% block javascripts %}
 
    {{ encore_entry_script_tags('app') }}
 {% endblock %}
</html>