  {{form_start(form, {attr: {class: 'filter js-filter-form'}})}}
  <div class="spinner-border js-loading" role="status" aria-hidden="true" style="display: none">
  <span class="sr-only">Chargement...</span>
  </div>

  {{form_row(form.searchText)}}

  <h4>Catégories</h4>
  {{form_row(form.categories)}}

  <h4>Prix</h4>
  <div class="row">
  <div class="col-md-6">
  {{form_row(form.min)}}
  </div>
  <div class="col-md-6">
  {{form_row(form.max)}}
  </div>
  </div>
  <div id="price-slider" data-min="{{ min }}" data-max="{{ max }}" class="mb-4"></div>

  <button type="submit" class="btn btn-primary w-100 mt-4">Filter</button>
  {{form_end(form)}}